body {
	background: #FD6C9E;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.centered-div {
	width: auto;
   	height: auto;
    border: solid;
}

.box-container {
    display: flex;
    flex-direction: row;
}

.box {
    width: 350px;
    height: 350px;
    margin: 15px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prompt-container {
    text-align: center;
    margin: 15px;
    border: solid;
}
