@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

body {
	background: #FD6C9E;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.centered-div {
	width: auto;
   	height: auto;
}

.box-container {
    position: relative;
    width: 350px;
    height: 350px;
}

.box {
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
}

#stack-1 {
    z-index: 3;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#stack-2 {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#stack-3 {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.prompt {
    font-size: 10px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-top: 65px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.rotate {
    animation: rotate 23s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blink {
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}
